# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

name: GraphAr C++ CI

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
    paths:
      - 'cpp/**'
      - '.github/workflows/ci.yml'
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    branches:
      - main
    paths:
      - 'cpp/**'
      - '.github/workflows/ci.yml'

concurrency:
  group: ${{ github.repository }}-${{ github.event.number || github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  ubuntu:
    # TODO use ubuntu-latest
    name: Ubuntu 22.04 C++
    runs-on: ubuntu-22.04
    if: ${{ !contains(github.event.pull_request.title, 'WIP') }}
    env:
      GAR_TEST_DATA: ${{ github.workspace }}/graphar-testing/
    steps:
    - uses: actions/checkout@v3
      with:
          submodules: true

    - name: Cache ccache
      uses: actions/cache@v4
      with:
        path: ~/.ccache
        key: ${{ runner.os }}-ccache-${{ github.head_ref || github.ref_name }}-${{ github.run_id }}
        restore-keys: |
          ${{ runner.os }}-ccache-${{ github.head_ref || github.ref_name }}-
          ${{ runner.os }}-ccache-

    - name: Install dependencies
      run: |

        # install the latest arrow deb to test arrow
        wget -c https://apache.jfrog.io/artifactory/arrow/"$(lsb_release --id --short | tr 'A-Z' 'a-z')"/apache-arrow-apt-source-latest-$(lsb_release --codename --short).deb \
            -P /tmp/
        sudo apt-get install -y /tmp/apache-arrow-apt-source-latest-"$(lsb_release --codename --short)".deb
        sudo apt-get update -y
        sudo apt install -y libarrow-dev=17.0.0-1 \
                            libarrow-dataset-dev=17.0.0-1 \
                            libarrow-acero-dev=17.0.0-1 \
                            libparquet-dev=17.0.0-1
        sudo apt-get install -y libboost-graph-dev ccache libcurl4-openssl-dev doxygen lcov

        # install benchmark
        git clone --branch v1.8.3 https://github.com/google/benchmark.git --depth 1
        pushd benchmark
        cmake -DCMAKE_BUILD_TYPE=Release -DBENCHMARK_ENABLE_TESTING=OFF -DBENCHMARK_ENABLE_GTEST_TESTS=OFF .
        sudo make install
        popd

        # install Catch2 v3
        git clone --branch v3.6.0 https://github.com/catchorg/Catch2.git --depth 1
        pushd Catch2
        cmake -Bbuild -H. -DBUILD_TESTING=OFF
        sudo cmake --build build/ --target install
        popd

        git clone https://github.com/apache/incubator-graphar-testing.git $GAR_TEST_DATA --depth 1

    - name: CMake
      working-directory: "cpp"
      run: |
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTS=ON -DBUILD_EXAMPLES=ON -DBUILD_BENCHMARKS=ON -DGRAPHAR_ENABLE_COVERAGE=ON

    - name: clang-format
      run: |
        pip install pre-commit
        pre-commit install
        pre-commit run clang-format -a

    - name: Validate commit message format
      run: |
        COMMIT_MSG=$(git log -1 --pretty=%B)
        echo "$COMMIT_MSG" > .git/COMMIT_EDITMSG
        pre-commit run --hook-stage commit-msg --commit-msg-filename .git/COMMIT_EDITMSG 

    - name: cpplint
      working-directory: "cpp/build"
      run: |
        function ec() { [[ "$1" == "-h" ]] && { shift && eval $* > /dev/null 2>&1; ec=$?; echo $ec; } || eval $*; ec=$?; }

        ec make graphar-cpplint
        if [[ "$ec" != "0" ]]; then
            echo "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
            echo "| cpplint failures found! Run: "
            echo "|"
            echo "|    make graphar-cpplint"
            echo "|"
            echo "| to fix this error."
            echo "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
            exit -1
        fi

    - name: Build Docs
      working-directory: "cpp/build"
      run: |
        cmake -DENABLE_DOCS=ON ..
        make docs

    - name: Build GraphAr
      working-directory: "cpp/build"
      run: make -j$(nproc)

    - name: Test
      working-directory: "cpp/build"
      run: |
        export ASAN_OPTIONS=detect_leaks=0
        ctest --output-on-failure

    - name: Benchmark
      working-directory: "cpp/build"
      run: |
        ./graph_info_benchmark
        ./arrow_chunk_reader_benchmark
        ./label_filter_benchmark

    - name: Generate coverage info
      working-directory: "cpp/build"
      run: |
        lcov --capture --directory . --output-file coverage.info
        lcov --extract coverage.info '*/src/graphar/*' --output-file coverage.info
        lcov --remove coverage.info '/usr/*' --output-file coverage.info
        lcov --list coverage.info

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4
      with:
        flags: cpp
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: test release build type
      working-directory: "cpp"
      run: |
        mkdir build-release
        pushd build-release
        cmake .. -DCMAKE_BUILD_TYPE=RelWithDebInfo -DBUILD_TESTS=ON -DBUILD_EXAMPLES=ON -DBUILD_BENCHMARKS=ON
        make -j$(nproc)
        export ASAN_OPTIONS=detect_leaks=0
        ctest --output-on-failure
        popd

    - name: Benchmark-release
      working-directory: "cpp/build-release"
      run: |
        ./graph_info_benchmark
        ./arrow_chunk_reader_benchmark
        ./label_filter_benchmark

    - name: Use Static Arrow
      working-directory: "cpp"
      run: |
        mkdir build-static
        pushd build-static
        cmake .. -DUSE_STATIC_ARROW=ON -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTS=ON -DBUILD_EXAMPLES=ON -DBUILD_BENCHMARKS=ON
        make -j$(nproc)
        export ASAN_OPTIONS=detect_leaks=0
        ctest --output-on-failure
        popd

    - name: Upload libgraphar.a artifact
      if: github.event_name == 'push'
      uses: actions/upload-artifact@v4
      with:
        name: ubuntu-libgraphar.a
        path: cpp/build-static/libgraphar.a

  macos:
    name: macos latest C++
    runs-on: macos-latest
    if: ${{ !contains(github.event.pull_request.title, 'WIP') }}
    env:
      GAR_TEST_DATA: ${{ github.workspace }}/graphar-testing/
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v3
      with:
          submodules: true

    - name: Cache ccache
      uses: actions/cache@v4
      with:
        path: ~/Library/Caches/ccache
        key: ${{ runner.os }}-ccache-${{ github.head_ref || github.ref_name }}-${{ github.run_id }}
        restore-keys: |
          ${{ runner.os }}-ccache-${{ github.head_ref || github.ref_name }}-
          ${{ runner.os }}-ccache-

    - name: Install dependencies
      run: |
        brew bundle --file=cpp/Brewfile
        git clone https://github.com/apache/incubator-graphar-testing.git $GAR_TEST_DATA --depth 1
        brew list --versions

    - name: Build GraphAr
      working-directory: "cpp"
      run: |
        mkdir build
        pushd build
        cmake .. -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTS=ON -DBUILD_EXAMPLES=ON -DBUILD_BENCHMARKS=ON
        make -j$(nproc)
        popd

    - name: Running Test
      working-directory: "cpp/build"
      run: |
        export ASAN_OPTIONS=detect_leaks=0
        ctest --output-on-failure

    - name: test release build type
      working-directory: "cpp"
      run: |
        mkdir build-release
        pushd build-release
        cmake .. -DCMAKE_BUILD_TYPE=RelWithDebInfo -DBUILD_TESTS=ON -DBUILD_EXAMPLES=ON -DBUILD_BENCHMARKS=ON
        make -j$(nproc)
        export ASAN_OPTIONS=detect_leaks=0
        ctest --output-on-failure
        popd

    - name: Benchmark-release
      working-directory: "cpp/build-release"
      run: |
        ./graph_info_benchmark
        ./arrow_chunk_reader_benchmark
        ./label_filter_benchmark

    - name: Use Static Arrow
      working-directory: "cpp"
      run: |
        mkdir build-static
        pushd build-static
        cmake .. -DUSE_STATIC_ARROW=ON -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTS=ON -DBUILD_EXAMPLES=ON -DBUILD_BENCHMARKS=ON
        make -j$(nproc)
        export ASAN_OPTIONS=detect_leaks=0
        export ASAN_OPTIONS=detect_container_overflow=0
        ctest --output-on-failure
        popd

    - name: Upload libgraphar.a artifact
      if: github.event_name == 'push'
      uses: actions/upload-artifact@v4
      with:
        name: macos-${{ matrix.macos-version }}-libgraphar.a
        path: cpp/build-static/libgraphar.a
