# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

name: GraphAr Java CI

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
    paths:
      - 'maven-projects/java/**'
      - '.github/workflows/java.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'maven-projects/java/**'
      - '.github/workflows/java.yml'

concurrency:
  group: ${{ github.repository }}-${{ github.event.number || github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          
      - name: Install dependencies
        run: |
          # install the latest arrow deb to test arrow
          wget -c https://apache.jfrog.io/artifactory/arrow/"$(lsb_release --id --short | tr 'A-Z' 'a-z')"/apache-arrow-apt-source-latest-$(lsb_release --codename --short).deb \
            -P /tmp/
          sudo apt-get install -y /tmp/apache-arrow-apt-source-latest-"$(lsb_release --codename --short)".deb
          sudo apt-get update -y
          # TODO: ISSUE-241
          sudo apt install -y libarrow-dev=14.0.1-1 \
                            libarrow-dataset-dev=14.0.1-1 \
                            libarrow-acero-dev=14.0.1-1 \
                            libparquet-dev=14.0.1-1
          sudo apt-get install libcurl4-openssl-dev -y
          sudo apt-get install llvm-11 clang-11 lld-11 libclang-11-dev libz-dev -y
          
      - name: Code Format Check
        working-directory: maven-projects/java
        run: |
          export JAVA_HOME=${JAVA_HOME_11_X64}
          mvn --no-transfer-progress spotless:check
      
      - name: Build Java Docs
        working-directory: maven-projects/java
        run: |
          export JAVA_HOME=${JAVA_HOME_11_X64}
          mvn --no-transfer-progress javadoc:javadoc

      - name: Run test
        working-directory: maven-projects/java
        run: |
          # Temporarily using Java 8, related issue: https://github.com/apache/incubator-graphar/issues/277
          export JAVA_HOME=${JAVA_HOME_8_X64}
          export LLVM11_HOME=/usr/lib/llvm-11
          export GAR_TEST_DATA=$PWD/../testing/
          mvn --no-transfer-progress clean test -Dspotless.check.skip=true
